<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
   <default>
       <settings>
           <general>
               <tenant_id></tenant_id>
               <referer></referer>
               <country></country>
           </general>
       </settings>
   </default>
</config>
