<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sizebay_sizebaytracker" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sizebay Tracker Settings</label>
            <tab>general</tab>
            <resource>Sizebay_SizebayTracker::config_sizebaytracker</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sizebay Tracker</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tenant_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tenant ID</label>
                </field>
                <field id="referer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Referer</label>
                </field>
                <field id="country" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Sizebay\SizebayTracker\Model\Config\Source\Country</source_model>
                </field>
                <field id="size_attribute" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size Attribute</label>
                    <source_model>Sizebay\SizebayTracker\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
